    .row {
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
    }

    img {
        margin-top:20px;
        height: 200px;
    }
    h3{
        margin:10px 0;
    }

    .text-center{
        text-align:center;
    }

    .container.grey {
        background-color: #f9f9f9;
        }
    
    .text p{
        padding:10px 5px;
    }    
    #lezioni  img {
            display: block;
            margin-right: auto;
            margin-left: auto;
    }
        
    #why .first,
    #why .second,
    #why .third {
        margin-top: 80px;
    }

    #why  img {
        background-color: #428bca;
        border-radius: 50%;
        padding: 30px;
    }
    @media screen and (max-width: 767px) {
       
        .text p{
            font-size:20px;
        }
        h1{
            margin-top:0px;
            padding-top: 10px;
            font-size:30px;
            font-weight: 900;
          }
        h3{
            font-size:25px;
            margin-top:5px;
            margin-bottom:0;
          }
       img{
           margin-top:20px;
            height:100px;
       }
       
       #why .first,
       #why .second,
       #why .third {
           margin-top: 0px;
       }
        #lezioni,
        #why{
            background-color: #F2F2CD;
          }


    }
